In [1]:
import pandas as pd
import numpy as np
import zipfile
import subprocess
import matplotlib.pyplot as plt
from unicodedata import normalize

# s = subprocess.check_output("curl https://schedules.calpoly.edu/courses_CSC_curr.htm")
# df = pd.read_html(io=s)
# df1 = pd.read_html('https://schedules.calpoly.edu/courses_CSC_curr.htm', flavor='html5lib')
# df2 = pd.read_html('https://schedules.calpoly.edu/courses_CPE_curr.htm', flavor='html5lib')
# pd.concat([df1[0], df2[0]], axis=0)

In [2]:
base_url = "https://schedules.calpoly.edu/subject" # get majority of class data
descrip_url = "https://schedules.calpoly.edu/courses" # get class names(description)
quarters = {'F':'curr', 'W':'next', 'S':'2224'}
subjects = ['AERO', 'BMED', 'CE', 'CPE', 'CSC', 'EE', 'ENGR', 'ENVE', 'IME', 'MATE', 'ME']

In [55]:
def modify_course(x):
    # removes trailing substrings with '/', '+'
    # "CPE 101 /1" -> "CPE 101"
    # I think NaN is treated as floaT? but this makes it work
    if type(x) is float:
        return
    
    items = x.split()
    if len(items) > 2:
        # Just removing third substring if its their
        return " ".join(items[:-1])
    else: 
        return x

In [56]:
big_df = pd.DataFrame()
for q in quarters.keys():
    # add stuff to this empty df
    quarter_df = pd.DataFrame()
    q_val = quarters[q]
    for s in subjects:
        print(f'Fetching {base_url}_{s}_{q_val}.htm')
        # fetch html table that contains descrip for each class
        descrip_df = pd.read_html(f'{descrip_url}_{s}_{q_val}.htm', flavor='html5lib')[0] # fetch descrip
        # group together rows with same 'Course' val
        descrip_df.groupby(['Course']).agg({'Description':lambda x: x})
        
        # fetch html table with everything else
        subject_df = pd.read_html(f'{base_url}_{s}_{q_val}.htm', flavor='html5lib')[0]
        # Change erroneous classes with weird substrings to normal names
        subject_df['Course'] = subject_df['Course'].apply(modify_course)
        # merge two dfs based on Course name
        subject_df = subject_df.merge(descrip_df, on='Course')
        quarter_df = pd.concat([quarter_df, subject_df])
    quarter_df['Quarter'] = q
    big_df = pd.concat([big_df, quarter_df])

Fetching https://schedules.calpoly.edu/subject_AERO_curr.htm
Fetching https://schedules.calpoly.edu/subject_BMED_curr.htm
Fetching https://schedules.calpoly.edu/subject_CE_curr.htm
Fetching https://schedules.calpoly.edu/subject_CPE_curr.htm
Fetching https://schedules.calpoly.edu/subject_CSC_curr.htm
Fetching https://schedules.calpoly.edu/subject_EE_curr.htm
Fetching https://schedules.calpoly.edu/subject_ENGR_curr.htm
Fetching https://schedules.calpoly.edu/subject_ENVE_curr.htm
Fetching https://schedules.calpoly.edu/subject_IME_curr.htm
Fetching https://schedules.calpoly.edu/subject_MATE_curr.htm
Fetching https://schedules.calpoly.edu/subject_ME_curr.htm
Fetching https://schedules.calpoly.edu/subject_AERO_next.htm
Fetching https://schedules.calpoly.edu/subject_BMED_next.htm
Fetching https://schedules.calpoly.edu/subject_CE_next.htm
Fetching https://schedules.calpoly.edu/subject_CPE_next.htm
Fetching https://schedules.calpoly.edu/subject_CSC_next.htm
Fetching https://schedules.calpoly.edu/subject_EE_next.htm
Fetching https://schedules.calpoly.edu/subject_ENGR_next.htm
Fetching https://schedules.calpoly.edu/subject_ENVE_next.htm
Fetching https://schedules.calpoly.edu/subject_IME_next.htm
Fetching https://schedules.calpoly.edu/subject_MATE_next.htm
Fetching https://schedules.calpoly.edu/subject_ME_next.htm
Fetching https://schedules.calpoly.edu/subject_AERO_2224.htm
Fetching https://schedules.calpoly.edu/subject_BMED_2224.htm
Fetching https://schedules.calpoly.edu/subject_CE_2224.htm
Fetching https://schedules.calpoly.edu/subject_CPE_2224.htm
Fetching https://schedules.calpoly.edu/subject_CSC_2224.htm
Fetching https://schedules.calpoly.edu/subject_EE_2224.htm
Fetching https://schedules.calpoly.edu/subject_ENGR_2224.htm
Fetching https://schedules.calpoly.edu/subject_ENVE_2224.htm
Fetching https://schedules.calpoly.edu/subject_IME_2224.htm
Fetching https://schedules.calpoly.edu/subject_MATE_2224.htm
Fetching https://schedules.calpoly.edu/subject_ME_2224.htm

In [14]:
big_df

,Course,Sect,Class,Type_x,GE_x,Req_x,Days,Start,End,Instructor,Location,LCap,ECap_x,Enrl_x,Wait,Drop_x,ICS,Description,Type_y,Sections,GE_y,Req_y,ECap_y,Enrl_y,WaitA,WaitD,WaitU,Drop_y,Wthd,Quarter
0,AERO 121,1,1055,Lec,NaN,NaN,M,02:10 PM,03:00 PM,"Abercromby, K",180-0101,134.0,120.0,116.0,0.0,7.0,ICS,Aerospace Fundamentals,Lec,1,NaN,NaN,120,116.0,0.0,NaN,NaN,7.0,0.0,F
1,AERO 121,1,1055,Lec,NaN,NaN,M,02:10 PM,03:00 PM,"Abercromby, K",180-0101,134.0,120.0,116.0,0.0,7.0,ICS,Aerospace Fundamentals,Lab,6,NaN,NaN,120,116.0,0.0,NaN,NaN,14.0,0.0,F
2,AERO 121,2,1056,Lab,NaN,NaN,T,08:10 AM,11:00 AM,"Westrick, S",041-0211,12.0,20.0,14.0,0.0,3.0,ICS,Aerospace Fundamentals,Lec,1,NaN,NaN,120,116.0,0.0,NaN,NaN,7.0,0.0,F
3,AERO 121,2,1056,Lab,NaN,NaN,T,08:10 AM,11:00 AM,"Westrick, S",041-0211,12.0,20.0,14.0,0.0,3.0,ICS,Aerospace Fundamentals,Lab,6,NaN,NaN,120,116.0,0.0,NaN,NaN,14.0,0.0,F
4,AERO 121,3,1057,Lab,NaN,NaN,T,12:10 PM,03:00 PM,"Prakash, D",041-0211,12.0,20.0,20.0,0.0,2.0,ICS,Aerospace Fundamentals,Lec,1,NaN,NaN,120,116.0,0.0,NaN,NaN,7.0,0.0,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,ME 599,31,****,Ind,NaN,346.0,NaN,NaN,NaN,"Belanger, J",NaN,NaN,10.0,NaN,NaN,NaN,NaN,Design Project (Thesis),Ind,35,NaN,346.0,350,NaN,NaN,NaN,NaN,NaN,NaN,S
411,ME 599,32,****,Ind,NaN,346.0,NaN,NaN,NaN,"Lutz, B",NaN,NaN,10.0,NaN,NaN,NaN,NaN,Design Project (Thesis),Ind,35,NaN,346.0,350,NaN,NaN,NaN,NaN,NaN,NaN,S
412,ME 599,33,****,Ind,NaN,346.0,NaN,NaN,NaN,"Espinoza-Wade, E",NaN,NaN,10.0,NaN,NaN,NaN,NaN,Design Project (Thesis),Ind,35,NaN,346.0,350,NaN,NaN,NaN,NaN,NaN,NaN,S
413,ME 599,35,****,Ind,NaN,346.0,NaN,NaN,NaN,"Xing, S",NaN,NaN,10.0,NaN,NaN,NaN,NaN,Design Project (Thesis),Ind,35,NaN,346.0,350,NaN,NaN,NaN,NaN,NaN,NaN,S
414,ME 599,99,****,Ind,NaN,346.0,NaN,NaN,NaN,"Hazelwood, S",NaN,NaN,10.0,NaN,NaN,NaN,NaN,Design Project (Thesis),Ind,35,NaN,346.0,350,NaN,NaN,NaN,NaN,NaN,NaN,S

In [67]:
profs_df = pd.DataFrame()
for q in quarters.keys():
    temp_profs_df = pd.read_html(f'https://schedules.calpoly.edu/depts_52-CENG_{quarters[q]}.htm', flavor='html5lib')[0]
    # remove weird indexing
    temp_profs_df.columns = temp_profs_df.columns.droplevel()
    # rename courses with weird characters in them
    temp_profs_df['Course'] = temp_profs_df['Course'].apply(modify_course)
    
    temp_profs_df['Course'] = temp_profs_df['Course'] + f' ({q})'
    profs_df = pd.concat([profs_df, temp_profs_df])
    
# give each professor one row with a column containing a set of their courses
profs_df = profs_df.groupby('Name')['Course'].apply(set).reset_index(name='Courses')
# split prof name into first and last
profs_df[['last_name', 'first_name']] = profs_df['Name'].loc[profs_df['Name'].str.split(', ').str.len() == 2].str.split(', ', expand=True)
# reorder columns
profs_df = profs_df[['Name', 'first_name', 'last_name', 'Courses']]

In [82]:
profs_df.loc[profs_df['last_name'] == 'Schuster'].to_string()

'                Name first_name last_name                                                                                                                   Courses\n344  Schuster, Peter      Peter  Schuster  {ME 429 (W), ME 400 (S), ME 599 (W), ME 400 (W), ME 430 (S), ME 599 (S), ME 428 (F), ME 500 (W), ME 500 (S), ME 599 (F)}'

In [84]:
with zipfile.ZipFile("CSC482_FINAL_data.zip", "w") as zf:
      with zf.open(f"profs.csv", "w") as buffer:
         profs_df.to_csv(buffer,index=True)
      with zf.open(f"schedule.csv", "w") as buffer:
         big_df.to_csv(buffer,index=True)

In [23]:
with open(f"schedule.csv", "w") as buffer:
   big_df.to_csv(buffer,index=True)

In [83]:
profs_df.query("Name == 'Abercromby, Kira'")

,Name,first_name,last_name,Courses
0,"Abercromby, Kira",Kira,Abercromby,"{AERO 400 (S), AERO 351 (F), AERO 200 (W), AER..."